.headLoader {
  width: 100%;
  height: 30px;
}
.fd_headLoader {
  margin-left: 1.2rem;
  padding: 10px 0;
}
.fd_wallLoader {
  height: 240px;
}
.fd_actionLoader {
  width: 100%;
  height: 30px;
}
.storyLoader {
  max-width: 65%;
  background-color: rgb(255 255 255);
  padding: 16px 20px;
  border: 1px solid rgb(219 219 219);
  position: relative;
}
